<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>  
    <script src="@Url.Content("~/Scripts/jquery.formatCurrency.js")" type="text/javascript"></script>    
    <script src="@Url.Content("~/Scripts/jquery.tipTip.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/tipTip.css")" rel="stylesheet" type="text/css" />    
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/lightbox.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/lightbox.css")" rel="stylesheet" type="text/css" media="screen" />  
    <script src="@Url.Content("~/Scripts/jquery.smooth-scroll.min.js")" type="text/javascript"></script>
</head>
<body>
    <div class="page">
        <header>
            @*<div id="title">
                <h1>My MVC Application</h1>
            </div>*@
            <nav>
                <ul id="menu">
                    <li>@Html.ActionLink("Katalog", "Index", "Catalogue")</li>
                    <li>@Html.ActionLink("Products", "Index", "Product")</li>
                    <li>@Html.ActionLink("Models", "Index", "Model")</li>
                    <li>@Html.ActionLink("Origins", "Index", "Origin")</li>
                    <li>@Html.ActionLink("Types", "Index", "Type")</li>
                    <li>@Html.ActionLink("Sizes", "Index", "Size")</li>
                </ul>
            </nav>
        </header>
        <section id="main">
            @RenderBody()
        </section>
        <footer>
        </footer>
    </div>
</body>
</html>
